<div>
    {{#if products.length}}
    <h1>Menu</h1>
    {{#each products}}
    <div>
        {{#if thumbnail}}
        <img src="/assets/img/{{this.thumbnail}}" alt="{{this.title}}">
        {{/if}}
        <h2>{{this.title}}</h2>
        <p>${{this.price}}</p>
        <p>{{this.category}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>Status: {{this.status}}</p>
        <h3>Ingredients</h3>
        <ul>
            {{#each this.description}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
    {{/each}}
    {{else}}
    <h1> there is nothing to show here. </h1>
    {{/if}}
</div>