<div class="app-content container">
    {{#if user.role}}
        <div class="greeting-message-container">
            {{#if user.first_name}}
                <h3 class="greeting-message">Hi, <b>{{user.first_name}} {{user.last_name}}</b></h3>
            {{/if}}
            {{#if user.githubName}}
                <h3 class="greeting-message">Hi, <b>{{user.githubName}}</b></h3>
            {{/if}}
            <h4 class="role-message">You're <b class="user-role-role-message">{{user.role}}</b> Here</h4>
        </div>
    {{/if}}
    <h1 class="title-category">MENU</h1>
    {{#if dataProducts.payload.length}}
        <div>
            <div class="item-list">
                {{#each dataProducts.payload}}
                    <a href="/products/{{this._id}}" class="card-list">
                        <div class="card">
                            {{#if thumbnail}}
                                <img class="card-img-top" src="/assets/imgProducts/{{this.thumbnail}}" alt="{{this.title}}">
                            {{/if}}
                            <div class="card-body row justify-content-evenly">
                                <h5 class="card-title mb-3">{{this.title}}</h5>
                                <p class="col-auto text-card-list">$ {{this.price}}</p>
                                <p class="col-auto text-card-list category-card" data-category="{{this.category}}">
                                    {{this.category}}
                                </p>
                            </div>
                        </div>
                    </a>
                {{/each}}
            </div>
        </div>
        <div class="pagination-container">
            {{#if dataProducts.prevLink}}
                <a href="{{dataProducts.prevLink}}"><p class="pagination-link">{{dataProducts.prevPage}}</p></a>
            {{/if}}
            <p class="pagination-active">{{dataProducts.page}}</p>
            {{#if dataProducts.nextLink}}
                <a href="{{dataProducts.nextLink}}"><p class="pagination-link">{{dataProducts.nextPage}}</p></a>
            {{/if}}
        </div>
    {{else}}
        <h2 class="title-category">Could not load Menu</h2>
    {{/if}}
</div>

<script type="module" src="/js/main.js"></script>