<div class="app-content container">
    <h1 class="title-category">MENU</h1>
    {{#if payload.length}}
        <div>
            <div class="item-list">
                {{#each payload}}
                    <a href="/products/{{this._id}}" class="card-list">
                        <div class="card">
                            {{#if thumbnail}}
                                <img class="card-img-top" src="/assets/imgProducts/{{this.thumbnail}}" alt="{{this.title}}">
                            {{/if}}
                            <div class="card-body row justify-content-evenly">
                                <h5 class="card-title mb-3">{{this.title}}</h5>
                                <p class="col-auto text-card-list">$ {{this.price}}</p>
                                <p class="col-auto text-card-list category-card" data-category="{{this.category}}">
                                    {{this.category}}
                                </p>
                            </div>
                        </div>
                    </a>
                {{/each}}
            </div>
        </div>
        <div class="pagination-container">
            {{#if prevLink}}
                <a href="{{prevLink}}"><p class="pagination-link">{{prevPage}}</p></a>
            {{/if}}
            <p class="pagination-active">{{page}}</p>
            {{#if nextLink}}
                <a href="{{nextLink}}"><p class="pagination-link">{{nextPage}}</p></a>
            {{/if}}
        </div>
    {{else}}
        <h2 class="title-category">The menu could not be loaded</h2>
    {{/if}}
</div>

<script type="module" src="/js/main.js"></script>