<div class="app-content container">
    <h1 class="title-category">PROFILE</h1>
    <div class="profile-container">
        <ul>
            {{#if user.first_name}}
                <li><b class="item-profile">Name: </b><span class="data-item-profile">{{user.first_name}}</span></li>
                <li><b class="item-profile">Surname: </b><span class="data-item-profile">{{user.last_name}}</span></li>
                <li><b class="item-profile">Email: </b><span class="data-item-profile">{{user.email}}</span></li>
                <li><b class="item-profile">Age: </b><span class="data-item-profile">{{user.age}}</span></li>
            {{/if}}
            {{#if user.githubUser}}
                <li><b class="item-profile">Name and surname: </b><span class="data-item-profile">{{user.githubName}}</span></li>
                <li><b class="item-profile">GitHub User: </b><span class="data-item-profile">{{user.githubUsername}}</span></li>
            {{/if}}
            <li><b class="item-profile">Role: </b><span class="data-item-profile">{{user.role}}</span></li>
        </ul>
    </div>
    <div class="btn-logout-container">
        <button type="button" class="btn-logout" onclick="window.location.href = '/api/sessions/logout'">Logout</button>
    </div>
</div>